header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #eee;
    padding: 2rem 0;
    box-shadow: 0 0.2rem 0.2rem 0 #0006;
}

.full-name{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 3rem;
    margin: 1rem;
    margin-bottom: 0;
}
.job-title{
    position: relative;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: normal;
    margin: 0.5rem;
    padding-bottom: 0.2rem;
}

.job-title::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #fff, #000, #fff);
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}
.link{
    display: block;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    margin-top: 1.5rem;
    color: rgb(44, 133, 133);
    text-decoration: none;
}