body{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content{
  padding: 1rem;
}

.section-title{
  position: relative;
  font-weight: lighter;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}
.section-title::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 6rem;
  height: 1px;
  background: linear-gradient(90deg,#000, #fff);
}

section{
  margin-bottom: 1rem;
}

.item{
    padding: 0.5rem 1rem;
}

.item-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item h2{
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: normal;
}

.item p{
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}