:root {
  --color-1: #343A40; /* Dark background color */
  --color-2: #F0F0F4; /* Light background color */
  --color-3: #0068d6; /* Highlight color */
  --padding: 0.5rem;
  --margin: 0rem;
  --font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  background: var(--color-2);
  font-family: var(--font-family);
  color: var(--color-1);
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.col {
  padding: var(--padding);
  box-sizing: border-box;
  height: auto; /* Adjust height for dynamic content */
}

.col:first-child {
  background: var(--color-1);
  color: var(--color-2);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 4px;
}

.item {
  margin-bottom: 0.5rem;
  background: #fff;
  color: var(--color-1);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  break-inside: avoid;
  border-bottom: 2px solid #f0f0f4;
}

a {
  color: var(--color-3);
  text-decoration: none;
}

.full-name {
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
  line-height: 1.2;
}

.full-name::first-letter {
  background: var(--color-3);
  color: var(--color-2);
  padding: 0 0.5rem;
}

.full-name::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: var(--color-3);
  z-index: -1;
}

.job-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.link {
  display: inline-block;
  background: var(--color-2);
  color: var(--color-1);
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  margin: 0.2rem 0;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.link:hover {
  background: var(--color-3);
  color: var(--color-2);
}

.link.clickable {
  color: var(--color-3);
  font-weight: bold;
}

.section-title {
  font-weight: bold;
  background: var(--color-3);
  color: var(--color-2);
  padding: 0.6rem 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.summary-section pre {
  white-space: pre-wrap;
  font-size: 0.75rem;
  background: var(--color-2);
  padding: 1rem;
  margin: 1rem 0;
  color: var(--color-1);
  border-radius: 4px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  padding: 0;
  margin: 1rem 0;
  list-style: none;
}

.skills li {
  background: var(--color-2);
  color: var(--color-1);
  font-size: 0.75rem;
  padding: 0.4rem 0.8rem;
  margin: 0.2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.8rem 0;
}


.item:last-child {
  border-bottom: none;
}

/* Prevent text from overflowing */
@page {
  size: A4;
  margin: 0; /* Removed the page margin */
}
