<html>

  <head>

    <meta name="pdfkit-page-size" content="A4"/>
    <meta name="pdfkit-margin-top" content="5mm"/>
    <meta name="pdfkit-margin-right" content="5mm"/>
    <meta name="pdfkit-margin-bottom" content="5mm"/>
    <meta name="pdfkit-margin-left" content="5mm"/>

    <style>
      :root{
          --primary-color: #$primary color$;
          --primary-color-light: #$primary color$66;
          --primary-color-very-light: #$primary color$11;
      }
    </style>

  </head>

  <body>
    %block% header %block%
    <div class="content">
      <div class="two-halfs">
        <div class="half">
          %block% summary %block%
          %block% projects? %block%
        </div>
        <div class="half">
          %block% skills %block%
          %block% experience? %block%
        </div>
      </div>
      %block% education? %block%
    </div>
  </body>

</html>
