body{
  margin: 0;
  font-family: sans-serif;
}

.content{
  padding: 1rem 1rem;
}

.section-title{
  position: relative;
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}
.section-title::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 6rem;
  height: 1px;
  background: linear-gradient(90deg,#000, #fff);
}

section{
  margin-bottom: 1rem;
}

.item{
  padding: 0.2rem 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2.1rem;
  box-shadow: 0.5rem 0.3rem 0 0 var(--primary-color-light),
              -0.2rem 0 0 0 var(--primary-color-light);
  page-break-inside: avoid;
}

.item-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-row span{
  white-space: nowrap;
}

.item h2{
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

.item p{
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  font-size: 1rem;
}

.two-halfs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.two-halfs section{
  width: 48%;
  margin: 0;
  margin: 0;
}

.two-halfs section:first-child{
  margin-right: 4%;
}